[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
coverage = "*"

[packages]
fastapi = "*"
pydantic = '*'
uvicorn = "*"
pytz = "*"
arrow = "*"
timezonefinder = "*"
zmanim = "*"
aiohttp = "*"
julian = "*"
pytest = "*"
betterlogging = "*"
sentry-sdk = "==1.1.0"

[requires]
python_version = "3.9"

[scripts]
tests = "coverage run -m pytest -v test/"
xml = "coverage xml"
